.footer {
    margin-top: 1em;
    position: absolute;
    right: 50%;
    left: 50%;
    padding-bottom: 1em;
}

.logo {
    height: 1.5em;
}

.gitLink {
    color: black;
}

.social {
    padding: 0.5em;
    border-radius: 10px;
}

.social:hover {
    background-color: rgb(223, 223, 223);
}
