.board {
    position: absolute;
    height: 94.8%;
    width: 100%;
    object-fit: contain;
}

.check {
    width: inherit;
    height: fit-content;
}

.addList {
    background-color: rgb(211, 211, 211, 0.3);
    min-width: 15em;
    transition: 0.5s;
    border-radius: 5px;
    padding: 0.5em;
}

.addList:hover {
    background-color: rgb(211, 211, 211, 0.5);
}

.listForm {
    min-width: 15em;
}


.sideBar {
    width: 20em;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.boardDetailsHeader {
    padding: 10px;
}

.cardForm {
    width: 10em;
}

.cardInput {
    padding: 2px;
    min-height: 4em;
    min-width: inherit;
    max-width: 15em;
    box-shadow: 0px 1px 20px rgb(163, 163, 163);
}

#editBoard {
    border-radius: 0px;
    color: black;
}

.nightsky {
    width: 100%;
    /* height: 100px; */
    background-image: url(../../assets/nightsky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fire {
    width: 100%;
    /* height: 100px; */
    background-image: url(../../assets/fire.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
