.boardCard {
    height: 6em;
    width: 32%;
    max-width: 12em;
    flex: 1 1 8em;
    box-sizing: border-box;
    border-radius: 0.2em;
    object-fit: contain;
}

.boardCard > img {
    position: absolute;
    object-fit: contain;
    width: inherit;
    height: inherit;
}

.boardName {
    position: relative;
    top: 7px;
    left: 7px;
}
