.board {
    position: absolute;
    height: 94.8%;
    width: 100%;
    object-fit: contain;
}

.sideBar {
    min-width: 17em;
    width: 17em;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.check {
    width: 94%;
    height: fit-content;
}

.addList {
    font-size: 15px;
    background-color: rgb(211, 211, 211, 0.3);
    min-width: 15em;
    transition: 0.5s;
    border-radius: 5px;
    padding: 0.5em;
}

.addList:hover {
    background-color: rgb(211, 211, 211, 0.5);
}

.listForm {
    min-width: 15em;
}

.listError {
    width: fit-content;
    height: 0px;
    position: relative;
    top: 40px;
    left: 112px;
    font-size: 10px;
    color: rgb(255, 0, 0);
}

.listButtons {
    margin-top: 4px;
}

.boardDetailsHeader {
    padding: 10px;
}

.cardForm {
    width: 10em;
    gap: 0.5em;
}

.inputWrapper {
    height: fit-content;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.cardInput {
    border: none;
    padding-top: 0.5em;
    min-height: 2em;
    max-height: 6em;
    min-width: 17.9em;
    max-width: 17.9em;
    box-shadow: 0px 1px 5px rgb(163, 163, 163);
    box-sizing: border-box;
    border-radius: 3px;
}

.cardInput:focus {
    outline: none !important;
    border: 2px solid #026AA7;
  }

.addListForm {
    width: 5.5em;
    height: 2.5em;
    border: none;
    background-color: #026AA7;
    border-radius: 4px;
}

.cancelListForm {
    color: lightslategray;
    padding: 0.6em 0 0 1em;
}

.cancelListForm:hover {
    color: black;
}

.listsContainer {
    overflow-x: auto;
    height: 100%;
}

.listOverflow {
    overflow-y: hidden;
    overflow-x: auto;
}

#editBoard {
    border-radius: 0px;
    color: black;
}

.nightsky {
    position: absolute;
    width: 100%;
    background-image: url(../../assets/nightsky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forest {
    position: absolute;
    width: 100%;
    background-image: url(../../assets/forest.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fire {
    position: absolute;
    width: 100%;
    background-image: url(../../assets/fire.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mountains {
    position: absolute;
    width: 100%;
    background-image: url(../../assets/mountains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yosemite {
    position: absolute;
    width: 100%;
    background-image: url(../../assets/yosemite.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
