.boardCard {
    height: 6em;
    width: 32%;
    max-width: 12em;
    flex: 1 1 8em;
    box-sizing: border-box;
    border-radius: 0.2em;
    object-fit: contain;
}

.cardWidth {
    max-width: 100%;
}

.boardName {
    position: relative;
    padding: 0.5em;
    width: auto;
    height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.2em;
}

.nightskyCard {
    width: 100%;
    background-image: url(../../assets/nightsky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.forestCard {
    width: 100%;
    background-image: url(../../assets/forest.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fireCard {
    width: 100%;
    background-image: url(../../assets/fire.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.mountainsCard {
    width: 100%;
    background-image: url(../../assets/mountains.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.yosemiteCard {
    width: 100%;
    background-image: url(../../assets/yosemite.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.boardName:hover {
    background-color: rgb(0, 0, 0, 0.3);
}
