.boardCard {
    height: 6em;
    width: 32%;
    max-width: 12em;
    flex: 1 1 8em;
    box-sizing: border-box;
    border-radius: 0.2em;
    object-fit: contain;
}

.cardWidth {
    max-width: 100%;
}
/*
.boardCard > img {
    position: absolute;
    object-fit: contain;
    width: inherit;
    height: inherit;
} */

.boardName {
    position: relative;
    top: 7px;
    left: 7px;
    width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nightskyCard {
    width: 100%;
    background-image: url(../../assets/nightsky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.forestCard {
    width: 100%;
    background-image: url(../../assets/forest.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fireCard {
    width: 100%;
    background-image: url(../../assets/fire.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.mountainsCard {
    width: 100%;
    background-image: url(../../assets/mountains.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.yosemiteCard {
    width: 100%;
    background-image: url(../../assets/yosemite.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
