.homeContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

.homeNav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.75em;
    position: sticky;
    top: 0px;
    width: 13em;
}

.switchWrapper {
    padding: 0.75em;
    width: 50em;
}

.homeNavButtons {
    padding: 0.5em;
    border-radius: 10px;
    color: #0079BF;
    font-size: 14px;
}

.active {
    background-color: #d9e9f1;
}
