.cardInfoContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(243, 245, 248);
    /* margin-top: 10em; */
    width: 40em;
    height: 50em;
    border-radius: 0.2em;
    padding: 0.5em;
    cursor: default;
}

.cardInfo {
    padding: 0.5em;
}

.cardExitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 390px;
    top: 50px;
    font-weight: 500;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

.cardExitButton:hover {
    background-color: lightgray;
}

.cardOptions {
    margin-top: 5em;
    padding: 0.5em;
}

.descriptionPlaceholder {
    font-size: 12px;
    width: 100%;
}

.description {
    background-color: rgb(231, 236, 243);
    /* border: 1px solid lightgray; */
    /* box-shadow: 0 1px 1px rgb(209, 209, 209); */
    height: fit-content;
    padding: 0.4em;
    border-radius: 0.3em;
    font-size: 14px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.description:hover {
    background-color: rgb(209, 219, 235);
}

.inputForDescription:focus {
    background-color: white;
    border: none;
    /* box-shadow: 0 1px 1px rgb(209, 209, 209); */
    outline: none;
}

.labelInModal {
    border-radius: 1em;
    height: 1em;
    width: 1em;
    margin-left: 5px;
}

.addLabelToCard {
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    padding-left: 0.5em;
}

.addLabelToCard:hover {
    background-color: rgb(221, 221, 221);
}

.labelForm {
    background-color: white;
    gap: 3px;
}

.commentInput {
    outline: none !important;
    border: 2px solid #026AA7;
    /* box-shadow: 0px 1px 5px rgb(163, 163, 163); */
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
}

.commentInput:focus {
    outline: none !important;
    border: 2px solid #026AA7;
    box-shadow: 0px 1px 5px rgb(163, 163, 163);
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
}

.labelForm input[type=checkbox] {
    display: none;
}

.labelForm input:checked + label:before {
    content: "✓ ";
}

.labelForm label {
    width: 200px;
    height:40px;
    padding-left: 1em;
    line-height: 40px;
}

.labelBorder {
    border-radius: 0.5em;
    height: 2em;
}


.greenBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #D6ECD2;
}

.greenBackground:hover {
    background-color: #b8eeaf;
}

.redBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #F5D3CE;
}

.blueBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #BCD9EA;
}

.purpleBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #EDDBF4;
}

.orangeBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #FCE6C6;
}

.yellowBackground {
    border-radius: 0.5em;
    height: 2em;
    width: 2.5em;
    background-color: #FAF3C0;
}
