.boardFormContainer {
    background-color: white;
    padding: 0.7em;
    box-shadow: 1px 1px rgb(180, 180, 180), -1px -1px rgb(180, 180, 180);
    box-sizing: border-box;
    border-radius: 5px;
    width: 15em;
}

.createBoardFormHeader {
    color: rgb(83, 83, 83);
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.demo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 7.8em;
    border-radius: 5px;
    border: none;
}

.demoImage {
    position: relative;
    top: 0;
    height: 7.3em;
}

.radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.imageSelect {
    width: 5em;
    height: 3.5em;
    border-radius: 5px;
}

.radioContainer {
    margin-top: 0.5em;
    display: flex;
    gap: 5px;
}

.radio:checked {
    background-color: rgb(0, 0, 0, 1);
}

.backgroundLabel {
    padding-top: 1em;
}

.nameLabel {
    color: rgb(95, 95, 95);
    font-size: 12px;
}

.error {
    position: absolute;
    top: 215px;
    font-size: 10px;
}

.boardSubmitOff {
    cursor: default;
    padding: 0.5em 0em;
    border: none;
    background-color: white;
    color: lightgray;
}

.boardSubmit {
    padding: 0.5em 0em;
    border: none;
    background-color: #026AA7;
    color: white;
    border-radius: 5px;
}

.boardSubmit:hover {
    background-color: #005586;
}

.nightskyForm {
    width: 100%;
    background-image: url(../../../assets/nightsky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.forestForm {
    width: 100%;
    background-image: url(../../../assets/forest.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fireForm {
    width: 100%;
    background-image: url(../../../assets/fire.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.mountainsForm {
    width: 100%;
    background-image: url(../../../assets/mountains.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.yosemiteForm {
    width: 100%;
    background-image: url(../../../assets/yosemite.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
