.navBar {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;
    max-width: 1320px;
    height: 100%;
}

.navContainer {
    margin-bottom: 1em;
    width: 100%;
    transition: background-color 1s;
}

.navContainer:hover {
    box-shadow: 0px 1px 20px rgb(102, 102, 102);
    transition: 0.5s;
}

#homeLink {
    font-weight: bold;
    font-size: 28px;
}

.userNavContainer {
    background-color: #026AA7;
    height: 3em;
}

#boardHomeLink {
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.signUp {
    background-color: rgb(0, 101, 255);
    color: white;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
}

.signUp:hover {
    background-color:rgb(30, 69, 136);
}

#logIn {
    color: black;
    font-weight: 600;
}

.profile-button {
    height: 35px;
    width: 35px;
    font-size: 15px;
    border-radius: 100%;
    border-style: hidden;
    background-color: transparent;
}

.hidden {
    display: none
}

.profile-dropdown {
    position: absolute;
    margin-top: 10px;
}

.dropdown-menu {
    align-items: center;
    align-content: flex-end;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25rem;
    height: auto;
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
}

.dropdown-menu .user-info {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
}
