.listContainer {
    min-width: 15em;
    background: #ebecf0;
    border-radius: 5px;
    height: fit-content;
    padding: 0.5em;
}

.listContainer > * {
    max-width: 15em;
}

.addCardOnList {
    border: none;
    color: lightslategray;
    background-color: transparent;
    width: 100%;
    padding: 0.5em;
    font-size: 14px;
}

.addCardOnList:hover {
    background-color: rgb(230, 230, 230);
}

.addCardForm {
    width: 5.5em;
    height: 2.5em;
    border: none;
    background-color: #026AA7;
    border-radius: 4px;
}

.cardContainer {
    gap: 0.5em;
}

.cardActionButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.cardError {
    width: fit-content;
    height: 0px;
    position: relative;
    top: -7px;
    left: 112px;
    font-size: 10px;
    color: rgb(255, 0, 0);
}

.cancelCardForm {
    color: lightslategray;
    padding: 5px;
    font-size: 14px;
    border-radius: 30px;
}

.cancelCardForm:hover {
    color: black;
    background-color: lightgray;
}
